#username, #password, #email, #password2{
  width: 33%;
}
@media only screen and (max-width: 768px) {
  #username, #password, #password2, #email{
    width: 100%;
  }
}


.fa-user{
  color: rgb(109, 109, 253);
}
.fa-envelope{
  /* color: #bb001b; */
  color: #ea4335;
}
.fa-github{
  color: black;
}
.fa-linkedin{
  color: #0072b1;
}
.fa-file-code{
  color: hsl(141, 53%, 53%);
}