<div style="border: 1px solid black;
    border:1px solid black;
    background-color: #ffffff;
    color : black;
    margin: auto;
    width: 50%;
    padding: 2rem;
    box-shadow: 8px 10px hsl(48, 100%, 67%);
">
    <p>Dear <strong>{{ user.username }}</strong>,</p>
    <p>
    To reset your password
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">
        click here
    </a>.
    </p>
    <p>Alternatively, you can paste the following link in your browser's address bar:</p>
    <p>{{ url_for('reset_password', token=token, _external=True) }}</p>
    <p>If you have not requested a password reset simply ignore this message.</p>
    <p>Sincerely,</p>
    <p>The NoteOnTheGo Team</p>
</div>