<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/gif/png" href=" {{ url_for('static', filename='assets/favicon.ico' ) }}  ">
    {% if title %}
        <title>{{ title }} - Note On The Go | Web App</title>
    {% else %}
        <title>Note On The Go | Web App</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://kit.fontawesome.com/d62c804b4d.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script>
        function removeNotification(){
            let element = document.getElementById("remove");
            element.remove();
        }
    </script>
</head>
<body>
    <!-- <nav>
        <ul>
            <li><a href="{{ url_for('index') }}"> Home </a></li>
            <li><a href=""> About </a></li>
            <li><a href=""> GitHub Repo </a></li>
            <li><a href="#"> Login </a></li>
        </ul>
    </nav> -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ url_for('index') }} ">
            <!-- <img src="{{ url_for('static', filename='assets/noteonthego.png') }}" width="112" height="28"> -->
            <div class="content control has-text-primary is-size-4">
                <strong>NoteOnTheGo</strong>
            </div>
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('index') }}">
              Home
            </a>
            <a class="navbar-item" href=" {{ url_for('explore') }} ">
              Explore
            </a>
            <a class="navbar-item" href="#c2" style="scroll-behavior: smooth;">
              Features
            </a>
            <div class="navbar-item">
              <p class="control">
                <a class="navbar-item" href="https://github.com/prasantmahato/Noteonthego" style="scroll-behavior: smooth;" target="_blank">
                  <span>Repo</span>
                  <span class="icon is-size-5">
                    <i class="fas fa-file-code"></i>
                  </span>
                </a>
              </p>
            </div>

           
      
            <!-- <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">

              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Jobs
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div> -->
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                {% if not current_user.is_anonymous %}
                  <div class="navbar-item has-dropdown is-hoverable pr-5">
                    <a class="dropdown-link" id="uppercase"> 
                      <strong>
                      Welcome, {{ current_user.username }} <i class="fas fa-chevron-down"></i>
                      </strong>
                    </a>

                    <div class="navbar-dropdown mr">
                      <a class="navbar-item button is-ghost" href="{{ url_for('user', username=current_user.username) }}">
                        Profile
                      </a>
                      <hr class="navbar-divider">
                      <a class="navbar-item button is-warning" href="{{ url_for('logout') }}">
                        Log Out
                      </a>
                    </div>
                  </div>
                <!-- <a href="" class="button is-ghost">««</a> -->

                  <!-- <a href="" class="button is-ghost is-outlined"> 
                    <strong>
                      {{ current_user.username }}  
                    </strong>
                  </a>

                  <a class="button is-primary is-outlined" href="{{ url_for('logout') }}">
                    Log Out
                  </a> -->
                {% else %}
                  <a class="button is-primary" href="{{ url_for('register') }}">
                    <strong>Sign up</strong>
                  </a>
                  <a class="button is-light" href="{{ url_for('login') }}">
                    Log in
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>

    <div class="container has-text-centered is-size-5">

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div id="remove">

          <ul class="flashes">
            
            {% for category,message in messages %}
            <div class="notification is-{{category}}">
              <li>{{ message }}</li>
              {% endfor %}
              <button class="delete" onclick="removeNotification()"></button>
            </div>
          </ul>
        </div>
        {% endif %}
        {% endwith %}
        
    </div>
      
    <div class="conatainer content has-text-centered pt-5">
        {% block content %}
        {% endblock %}
    </div>
    
    <div class="title conatainer has-text-centered" id="c2">
      <h2>
        Features Checklist :- 
      </h2>
    </div>
    <div class="container box content">
      <blockquote>
        <ul>
          <li>
            Delete Note
            <span class="icon has-text-success "><i class="fas fa-check-square"></i></span> 
          </li>
          <li>
            Update Note
            <span class="icon has-text-success "><i class="fas fa-check-square"></i></span> 
          </li>
          <li>
            Show date & Time of Note Added
            <span class="icon has-text-success "><i class="fas fa-check-square"></i></span> 
          </li>
          <li>
            Decent UI
            <span class="icon has-text-success "><i class="fas fa-check-square"></i></span> 
          </li>
          <li>
            Login & Sign Up
            <span class="icon has-text-success "><i class="fas fa-check-square"></i></span> 
          </li>
          <li>Add deadline menu
            <span class="icon has-text-info "><i class="fas fa-tools"></i></span>
          </li>
          <li>Show time in localzone
            <span class="icon has-text-success "><i class="fas fa-check-square"></i></span> 
          </li>
          <li>Create edit profile page for users.
            <span class="icon has-text-success "><i class="fas fa-check-square"></i></span> 
          </li>
          <li>Have password reset mechanism
            <span class="icon has-text-info "><i class="fas fa-tools"></i></span>
          </li>

        </ul>
      </blockquote>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
          <!-- <p class="columns is-mobile"> 
            <i class="is-size-5 fas fa-user"></i><a class="column" href="https://prasantmahato.github.io" target="_blank"> About Me</a> |  
            <i class="is-size-5 fas fa-envelope"></i><a class="column" href="mailto:prasantmahato33@gmail.com" target="_blank"> E-Mail</a> |
            <i class="is-size-5 fab fa-github"></i><a class="column" href="https://github.com/prasantmahato" target="_blank"> GitHub Profile</a> | 
            <i class="is-size-5 fab fa-linkedin"></i><a class="column" href="https://www.linkedin.com/in/prasant-mahato/" target="_blank"> Connect Here</a>
          </p> -->


          <div class="columns is-tablet is-3 ">

            <div class="column" id="removeDiv"></div> 
            <div class="column button is-outlined is-ghost">
              <i class="is-size-5 fas fa-user"></i>
              <a href="https://prasantmahato.github.io" target="_blank"> About Me</a> 
            </div>
            <div class="column button is-outlined is-ghost">
              <i class="is-size-5 fas fa-envelope"></i>
              <a href="mailto:prasantmahato33@gmail.com" target="_blank"> E-Mail</a>
            </div>
            <div class="column button is-outlined is-ghost">
              <i class="is-size-5 fab fa-github"></i>
              <a href="https://github.com/prasantmahato" target="_blank"> GitHub Profile</a>
            </div>
            <div class="column button is-outlined is-ghost">
              <i class="is-size-5 fab fa-linkedin"></i>
              <a href="https://www.linkedin.com/in/prasant-mahato/" target="_blank"> Connect Here</a>
            </div>
            <div class="column" id="removeDiv"></div>
           
          </div>
        <strong>
          <a href="https://twitter.com/prasant__mahato?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">
            Follow @prasant__mahato
          </a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </strong>

        <hr>

        <div>
          Made with <span class="icon is-size-5" style="color: red;">&hearts;</span> by 
          <strong><a href="https://prasantmahato.github.io">Prasant Mahato</a></strong>
  
          &copy;
          <span id="copyright">
              <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
          </span>
      </div>
    </div>
  
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src=" {{url_for('static', filename='js/modal.js')}} "></script>
</body>
</html>