{% extends 'base.html' %}
{% block content %}
<div class="container is-fullhd has-text-centered content">
    <!-- <h1>
        <strong>Notes:-  </strong>
    </h1> -->
    <form action="/" method="POST">
        <!-- <input type="text" name="content" id="content" class="note_text" minlength="3" placeholder="Enter Note Here" > -->
        <label class="label title is-size-3">Enter Note Here :-</label>

        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input is-normal is-rounded box" type="text" name="content" id="content"
                placeholder="Note" minlength="3">
                <span class="icon is-small is-left">
                    <i class="fas fa-pen-square"></i>
                </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
        
        <div class="control">
            <button class="button is-primary">Add Note</button>
        </div>

    </form>
    <!-- <h1 style="color: rgb(240, 80, 17);">
        <span style='font-size:50px; margin-left: solid 1px #272727;'>&#128221;</span>
        MY NOTES
        <span style='font-size:50px; margin-left: solid 1px #272727;'>&#128378;</span>
    </h1> -->
    {% if tasks|length < 1 %}
        <h4 class="error notification is-danger" style="text-align:center">There are no tasks. Create one below</h4>
    {% else %}
        
    
    <table class="table content">
        <thead>
            <tr id="borderimg">
                <th>Date</th>
                <th>Time</th>
                <th>Task</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for task in tasks %}
        <tr>
            <td>
                {{ task.date_created.strftime("%x") }}
            </td>
            <td>
                {{ task.date_created.strftime("%H:%M") }}<br>
            </td>

            <td>{{ task.content }}</td>
            <td> 
                <a class="button is-small is-rounded is-warning" href="/update/{{task.id}}">Update</a>
                <a class="button is-small is-rounded is-danger is-light" href="/delete/{{task.id}}">Delete</a> 
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

</div>

{% endblock %}