{% extends "base.html" %}

{% block content %}
<div class="container content">

    <h1>Register User</h1>
    <form action="" method="post" class="conatainer content box" autocomplete="on" autocapitalize="on">
        {{ form.hidden_tag() }}
        <div class="container control content">
            
            <div class="columns">
                <div class="column">
                    <p>
                        {{ form.first_name.label }} <br>
                        {{ form.first_name(size=32, class_='input is-size-5', autofocus='true')}} <br>
                        {% for error in form.username.errors %}
                        <span class="tag is-warning">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                </div>
                <div class="column">
                    {{ form.username.label }}<br>
                    {{ form.username(size=32, class_='input is-size-5', type='text' ) }}<br>
                    {% for error in form.username.errors %}
                    <span class="tag is-warning">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="column">
                    <p>
                        {{ form.last_name.label }} <br>
                        {{ form.last_name(size=32, class_='input is-size-5')}} <br>
                        {% for error in form.username.errors %}
                        <span class="tag is-warning">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                </div>
                <div class="column">
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(size=32, class_='input is-size-5' , type='email') }}<br>
                        {% for error in form.email.errors %}
                        <span class="tag is-warning">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
                
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32, class_='input is-size-5' ) }}<br>
                {% for error in form.password.errors %}
                <span class="tag is-warning">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32, class_='input is-size-5' ) }}<br>
                {% for error in form.password2.errors %}
                <span class="tag is-warning">[{{ error }}]</span>
                {% endfor %}
            </p>
            <label class="checkbox">
                <input type="checkbox">
                I agree to the <span class="js-modal-trigger" data-target="modal-terms-and-conditions">
                    <a href="#">terms and conditions</a>
                </span>
                
            </label>
            
            <p>{{ form.submit(class_="button is-primary is-outlined px-4") }}</p>
        </div>
        </form>
</div>

<div id="modal-terms-and-conditions" class="modal">
    <div class="modal-background"></div>
  
    <div class="modal-content">
      <div class="box">
        <p class="is-text">Don't worry, there are no T&C's yet..!!</p>
      </div>
    </div>
  
    <button class="modal-close is-large" aria-label="close"></button>
</div>




{% endblock %}