{% extends "base.html" %}

{% block content %}
<div class="container">

    <h1 class="title is-2">Reset Password</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="field">
            <p class="control has-icons-left has-icons-right mx-5">
            {{ form.email(size=64, class_='input is-large', placeholder='E-Mail') }}<br>
              <span class="icon is-large is-left">
                <i class="fas fa-envelope is-size-4"></i>
              </span>
              <span class="icon is-large is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
        </div>
        <p>{{ form.submit(class_='button is-primary is-outlined ') }}</p>
    </form>
</div>
{% endblock %}