{% extends "base.html" %}

{% block content %}
<div class="container">

    <h1 class="title is-2">Reset Your Password</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <!-- <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32, class_='input is-size-5') }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32, class_='input is-size-5') }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p> -->
        <div class="field">
            <p class="control has-icons-left">
              {{ form.password(size=32, class_='input is-size-5', placeholder='Password') }}<br>
              <span class="icon is-large is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
            {% for error in form.password.errors %}
                <span class="tag is-warning">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="field">
            <p class="control has-icons-left">
            {{ form.password(size=32, class_='input is-size-5', placeholder='Confirm Password') }}<br>
              <span class="icon is-large is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
            {% for error in form.password2.errors %}
                <span class="tag is-warning">[{{ error }}]</span>
            {% endfor %}
        </div>
        <p>{{ form.submit(class_='button is-primary') }}</p>
    </form>
</div>
{% endblock %}